@model NtapMarket.Web.Seller.Controllers.HomeController

@{
    ViewData["Title"] = "AddProduct";
}

<form method="post">
    <label>Имя товара:</label><br />
    <input type="text" name="name" /><br /><br />
    <label>Количество единиц товара (штук):</label><br />
    <input type="text" name="count" /><br /><br />
    <label>Цена товара:</label><br />
    <input type="text" name="price" /><br /><br />
    <label>Полное описание товара:</label><br />
    <input type="text" name="marketingInfo" /><br /><br />
    <hr>
    <label>Название новой категории:</label><br />
    <input type="text" name="productCategoryName" /><br /><br />
    <label>Полное описание категории:</label><br />
    <input type="text" name="productCategoryDescription" /><br /><br />
    <hr>
    <label>Название нового атрибута:</label><br />
    <input type="text" name="productAttributeModelName" /><br /><br />
    <label>Значение атрибута:</label><br />
    <input type="text" name="productAttributeModelValue" /><br /><br />
    <label>Полное описание атрибута:</label><br />
    <input type="text" name="productAttributeModelDescription" /><br /><br />
    <input type="submit" value="Отправить" />
</form>