@model NtapMarket.Web.Seller.Controllers.HomeController

@{
    ViewData["Title"] = "AddProduct";
}

<form method="post">
    <label>Имя товара:</label><br />
    <input type="text" name="name" /><br /><br />
    <input type="submit" value="Отправить" />
</form>