@model List<NtapMarket.Data.ObjectModel.ProductModel>

    <html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            
        </style>
    </head>
    <body>
        <h1>Информация о товаре</h1>

        @{
            foreach (NtapMarket.Data.DBModel.Product item in Model)
            {
                <hr>
                <p>
                    <strong>@item.Name</strong>
                    <br><br>О продукте:
                    <br>@item.MarketingInfo
                </p>
            }
        }

    </body>
    </html>

